@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


@media all and (min-width:993px) {



    /* Général */


    /* HEADER & NAV */
     nav {
        display: flex;
    }

    /* BARRE DE RECHERCHE */

     .fa-search {
        display: none !important;
    }

    /* FILTRES */

    .filtres {
        display: flex;
        align-items: center;
    }



}